<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <title>What is your Team's Future?</title>
</head>

<body>
  <div class="header">
    Each NHL Team's 2017 Season Outlook
  </div>

  <div class="wrapper">

    <div class="second">
      <span class="dropdown">
        <select id="team">
          <option value="carolina">Carolina Hurricanes</option>
          <option value="chicago">Chicago Blackhawks</option>
          <option value="pittsburgh">Pittsburgh Penguins</option>
        </select>
      </span>
    </div>

    <div class="question">
      Select a team to view their season outlook
    </div>

    <div class="narrative">
      Pick a team above to get an in-depth analysis of their future.
    </div>

  </div>
  <script src="jquery.js"></script>
  <script src="javascripts/main.js"></script>

</body>
</html>
